.container{
    width: 100%;
}
#navigasi{
    height: 10vh;
    background-color: darkgrey;
}
.logo{
    padding: 15px;
}
.logo>img{
    width: 100px;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu>a{
    padding: 20px;
    text-transform: uppercase;
    color: black;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}
.menu>a:hover{
    background-color: whitesmoke;
}
#header{
    background:url(./assets/gambar/upgrading.JPG);
    width: 100%;
    height: 80vh;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
#header>.title{
    text-align: center;
    color: aliceblue;
    font-size: 40px;
    font-family: Merriweather;
    text-transform: uppercase;
    font-weight: bold;
}
#wod{
    background: url(assets/image/wood.jpg);
    padding: 20px;
}
#wod>h3{
    text-align: center;
    font-family: roboto;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}
#wod>.row{
    justify-content: center;
}
#wod>.row>.box{
    margin: 15px;
    background-color: whitesmoke;
    text-align: center;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    border-radius: 15px;
}
#wod>.row>.box>img{
    width: 100%;
    height: 200px;
    border-radius: 15px;
}
#wod>.row>.box>.price{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: coral;
    color: white;
    font-family: roboto;
    font-size: 30px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    top: -50px;
}
#wod>.row>.box>h5{
    font-size: 31px;
    position: relative;
    top: -50px;

}
.best-dishes{
    width: 100%;
    height: 200px;
    border-radius: 15px;
}
.desc-dishes{
    text-align: left;
    font-family: Roboto ;
    font-size: 20px;
    padding: 15px;
}
#aboutme{
    background-color: lightgray;
}
#aboutme>h3{
    text-align: center;
    font-family: roboto;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
}
#aboutme>.row{
    justify-content: center;
}
#footer{
    justify-content: center;
    background-color: darkgrey;
}
.contact{
    font-family: roboto;
    font-size: 15px;
    margin-top: 50px;
}
.sosmed>img{
    width: 30px;
    height: 30px;
    margin: 10px;
}
.sosmed{
    justify-content: center;
}